.card-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(168, 12, 168);
    box-shadow: 0 5px 15px -5px purple;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    color: yellow;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}
  
.card-container:hover {
    transform: scale(1.05);
}